@font-face {
    font-family:'MarkOT';
    src: url('../src/fonts/MarkOT.woff2') format('woff2'),
         url('../src/fonts/MarkOT.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'MarkOTBold';
    src: url('../src/fonts/MarkOTBold.woff2') format('woff2'),
         url('../src/fonts/MarkOTBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'MarkOTMedium';
    src: url('../src/fonts/MarkOTMedium.woff2') format('woff2'),
         url('../src/fonts/MarkOTMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MinionProMedium';
    src: url('../src/fonts/MinionProMedium.woff2') format('woff2'),
         url('../src/fonts/MinionProMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MinionProRegular';
    src: url('../src/fonts/MinionProRegular.woff2') format('woff2'),
         url('../src/fonts/MinionProRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
